[2022-07-04 10:28] tloczekt opened #3 "Exception during conversion data"
I have a problem with language format of numbers....
" Conversion from string " 213.275" to type "Double" is not valid.
This is error for real data and test sample data as well. I think it comes from my own national local (polish) decimal pointer settings. In my case comma is a decimal pointer not dot.

It related with float values like:
 reservoirRemainingUnits 213.275
"maxAutoBasalRate": 2.0,

[2022-07-04 11:10] tloczekt opened #4 "Question about database feature"
At first thank you very much for your hard work.
Anyway I have a question whether do you plan to store longer history on any database (like Nightscout) for statistic's features or not ?

[2022-07-08 19:43] paul1956 commented on #4
@tloczekt No, this is live data from CareLink everything is on your local computer I don't have any database. The one place I might is in active insulin time where it am missing the first x values where x is active insulin time * x and that would just be to show the beginning of the graph. You can save snapshots of interesting data (and reload later) from the Start menu and the program keeps 1 sna

[2022-07-08 19:43] #4 closed

[2022-07-08 19:45] paul1956 commented on #3
@tloczekt This should be fixed in version 3.3 I uploaded today. Please report if it is not.

[2022-07-08 19:51] paul1956 commented on #3
@tloczekt it turns out the source data is always English, US and now I should override all the conversions. The output should be local.

[2022-07-11 11:46] tloczekt commented on #3
Hi,
@paul1956 thank you so much for your soon response and new release. It's better, I can see data on display, but curve of BG on HOME Page is missing, so BG data are still bad in conversion:  System.FormatException: Input string was not in a correct format. Its interesting because on Runing ActiveInsulin tab curve of insulin and BGs  are visible.
Other data like present BG, TIR, sensor, vial %,

[2022-07-12 17:44] paul1956 commented on #3
I think all those issues are fixed in 3.4.0.0 but I don’t have a stable internet connection to upload it.  I will try again Thursday if I can’t get it uploaded today otherwise it will be Monday.

If you are not in 100% scaling I am having issues painting some of the data the newest release should be better.

From: tloczekt ***@***.***>
Sent: Monday, July 11, 2022 4:46 AM
To: paul1956/CareLink ***@

[2022-07-13 05:28] tloczekt commented on #3
3.4.0.0 is step back for me, because again I have none data from the cloud, because String to datetime conversion error.
(System.FormatException: String '13.07.2022 00:01:00' was not recognized as a valid DateTime.)
More details in attached file.
[exception3.txt](https://github.com/paul1956/CareLink/files/9099157/exception3.txt)

[2022-07-13 09:46] BenoitVDBr commented on #3
Hello Paul,

great development. I'm trying to use it on my 780G pump and the one from my son. I do however get an error (same as above) at login.

![error](https://user-images.githubusercontent.com/109212911/178703557-d5f9a2a8-eb13-40be-bfc0-d400bac0a777.jpg)

The full description in attachment.

[Unhandled Exception.txt](https://github.com/paul1956/CareLink/files/9100969/Unhandled.Exception.txt)

[2022-07-14 19:25] paul1956 commented on #3
@tloczekt @BenoitVDBr Thanks for the report, I believe the current version will handle this better in version 3.4.0.2 x64. It turns out that a few dates in the files are localized while most are in US-eng culture. I now try both formats when converting dates and I should also display in local culture with a few exceptions where the data is actually a string that just looks like a date. I am going

[2022-07-14 19:45] BenoitVDBr commented on #3
Hello Paul,

Thanks for the quick response. I tried the newest version, but the same problem persists. I do however see that the last SG value (upper left of the window) is retrieved correctly from the Carelink server. In the Active Insulin tab, the correct amount is displayed. Due to the error I don't see anything in the graph screens and I get "???" instead of values under the different icons. T

[2022-07-14 20:18] tloczekt commented on #3
Hello Paul,
version 3.4.03 x64 seems OK. We have all data and software started without any error message.
Main graph is visible as well. Thank you very much for your soon response and hard work.
![screenshot](https://user-images.githubusercontent.com/71193996/179075754-5b9f9cba-87bf-4929-b19f-a08bd5e1b5b8.jpg)

[2022-07-14 21:25] BenoitVDBr commented on #3
It works, it works, it works!!

Thank you very much!

[2022-07-16 17:58] #3 closed

[2022-07-24 10:01] PhilMEFL opened #5 "Visual Basic error with europan date format"
When I try to use Carelink, I immediately receive an error saying: System.FormatException: String '23/07/2022 11:55:18' in ToSgList line 17 was not recognized as a valid DateTime.
When I click OK, the application vanishes.

[2022-07-24 11:12] paul1956 commented on #5
@PhilMEFL which version? Can you drop in the CareLink*.json File that causes the issue here? It is a text file you can view, and all person information is stripped out before being saved. It is in your documents folder.
Also, what is the language/culture code your computer is running in. something like "en_US".

My next release 7/28 will package all of the information for you to make it easier to

[2022-07-24 12:52] PhilMEFL commented on #5
I use the latest version available that I downloaded this morning.  My culture is en-us but the language I use is en-be.  Heere are the json files.
[carelinjson.zip](https://github.com/paul1956/CareLink/files/9175816/carelinjson.zip)
Thanks.

[2022-07-24 15:55] PhilMEFL commented on #5
This can probably help you;
![Screenshot 2022-07-24 175342](https://user-images.githubusercontent.com/8526070/180655608-2d378466-f005-478d-97ed-c8d6da0bf8b6.png)

[2022-07-24 19:26] paul1956 commented on #5
@PhilMEFL That is the issue, most data in the file is in en-US but a few pieces are in what your pump things is local culture in your case en-be and the windows program can't figure that out. I can't decide if I should use a drop down where people can pick their own or just try all the variations.

I am open to suguestions.

[2022-07-25 01:07] paul1956 commented on #5
That is the issue, most data in the file is in en-US but a few pieces are in what your pump thinks is local culture in your case en-be and the windows program can't figure that out. I can't decide if I should use a drop down where people can pick their own or just try all the variations. I am leaning at trying them all there are only 13.

[2022-07-25 02:08] paul1956 commented on #5
@PhilMEFL I have put a text version here. It should have fixed issue and if not it produces an error report with dump as a text file in your documents folder that gives me everything to reproject the issue include all local culture information. All personal information is removed.  You can then just do it here. This is a preview of what I plan to release Friday.

[2022-07-25 06:36] PhilMEFL commented on #5
Hi Paul, thank you for trying to fix the issue but I have the exact same problem with the new version.

[2022-07-25 08:09] paul1956 commented on #5
Does it produce a crash report? It would be stored under myDocuments. Name is CareLinkErrorReport(cultureNane).txt

[2022-07-25 09:23] PhilMEFL commented on #5
No sorry, there is no crash report.

[2022-07-25 09:50] PhilMEFL commented on #5
This is the only recent file in my documents folder.
[CareLinkLastDownload(en-US).zip](https://github.com/paul1956/CareLink/files/9180025/CareLinkLastDownload.en-US.zip)

[2022-07-25 15:38] Komle92 opened #6 ""The given key 'MMOL_L' was not present in the dictionary.""
First of all, thanks for making this, it seems incredibly practical!

As soon as I log in though, i get this error: "The given key 'MMOL_L' was not present in the dictionary". I'm guessing it's relevant that I'm in Norway, and therefore use mmol/l units, but have to have my Carelink account registered as a US account to avoid the Medtronic mandated 2FA in Norway. After the error appears the app is

[2022-07-25 17:23] paul1956 commented on #5
@PhilMEFL you are correct in the case of this one error program exited without saving error report. I have fixed that
[CareLinkv3.4.2.1x64.zip](https://github.com/paul1956/CareLink/files/9183466/CareLinkv3.4.2.1x64.zip).

[2022-07-26 06:52] PhilMEFL commented on #5
Here is the crash report file
[CareLinkErrorReport(en-US).txt](https://github.com/paul1956/CareLink/files/9187229/CareLinkErrorReport.en-US.txt)
Thank you for your efforts..

[2022-07-26 08:01] paul1956 commented on #5
@PhilMEFL thank you that helped tremendously, turns out I still had a few CDate conversion what did not understand Cultures. Your pump puts out dates in your countries culture, but your Windows is in English, so the conversion was not happening, and app crashed.

[CareLinkv3.4.2.2x64.zip](https://github.com/paul1956/CareLink/files/9187818/CareLinkv3.4.2.2x64.zip)

I believe this finally fixes your

[2022-07-26 08:52] PhilMEFL commented on #5
[CareLinkErrorReport(en-US).txt](https://github.com/paul1956/CareLink/files/9188179/CareLinkErrorReport.en-US.txt)
Sorry to disappoint you but the problem is still not fixed.  However, I succeeded to run the application by changing my location and default language to Belgian French.
Nevertheless, I hope that you will find a solution because although French-speaking, I have trouble communicating in

[2022-07-26 09:22] paul1956 commented on #5
@PhilMEFL I have 2 solutions load all 110 unique culture data formats which will slow the program down when pump culture is not your Windows UI culture or I could add a dropdown where you select your pump culture. What would you prefer?

[2022-07-26 09:59] paul1956 commented on #6
It looks like some pumps use MMOLL and other use MMOL_L for mmol/l units,  I now support both in attached beta version

This beta version has a crash handler that will produce a sanitized human readable text file (stored in your documents folder) that will include everything I need to address the issue. It also has much better culture handling for dates there are actually 110 different date format

[2022-07-26 10:00] paul1956 commented on #5
@PhilMEFL
This version supports 110 cultures see if it fixes it otherwise, I am going to have to do a dropdown list.

[CareLinkv3.4.2.3x64.zip](https://github.com/paul1956/CareLink/files/9188739/CareLinkv3.4.2.3x64.zip)

[2022-07-26 12:59] PhilMEFL commented on #5
Sorry but the same problem occurs:
![image](https://user-images.githubusercontent.com/8526070/181011649-11d75faf-72f1-4f10-9524-264e35243eeb.png)
There is no error log in my documents.

[2022-07-26 23:17] paul1956 commented on #5
@PhilMEFL It turns out every time new data was read one culture was being deleted. So eventually all 110 cultures disappear and that doesn't show up using an error file only on a real system.
[CareLinkv3.4.2.4x64.zip](https://github.com/paul1956/CareLink/files/9193835/CareLinkv3.4.2.4x64.zip)

Hopefully this finally fixes the issue. Thanks again for all your help.

[2022-07-27 09:37] PhilMEFL commented on #5
[CareLinkErrorReport(en-US).txt](https://github.com/paul1956/CareLink/files/9197023/CareLinkErrorReport.en-US.txt)
Sorry Paul, still the same issue

[2022-07-28 04:15] paul1956 commented on #5
@PhilMEFL  the only way I know to solve your specific issue is to debug in on your system under Visual Studio and some form of remote desktop or if you are a programmer, you can look at it the project is open source. Sorry.

[2022-08-01 08:18] Krikke99 commented on #5
Hi @paul1956
I was able to reproduce this error, by setting windows language and region to Nederlands (Nederland). I use Nederlands(België) without errors.
Error report is included:

![image](https://user-images.githubusercontent.com/4416348/182104179-1dac2f3d-e0da-441c-8085-06fff58229c1.png)

[CareLinkErrorReport(en-BE).txt](https://github.com/paul1956/CareLink/files/9232153/CareLinkErrorReport.e

[2022-08-01 11:46] Fishbaits opened #9 "change unit"
Is there a way to change unit from mg/dL to mmol/L?
At my country we usually use mmol/L and numbers are (or should be at best) around 5.5.
As the values are in these ranges, it messes up the graph.
![image](https://user-images.githubusercontent.com/37698892/182187929-e3dd1b2a-ed7c-4264-bec3-54eaf2ba7d1e.png)

[2022-08-01 11:49] Krikke99 opened #10 "[Feature Request]: Replace icon in systray with text GC reading."
- Latest glucose reading in taskbar.
- Color coded glucose numbers set to your ranges.
- Get time of reading, trend and active insulin on hover.

[2022-08-01 17:08] Krikke99 commented on #10
[Discuss]
i'm trying to get the SG in the system tray, but it looks terrible.

![image](https://user-images.githubusercontent.com/4416348/182203816-7bf4e69c-eeb5-46c4-b2f6-76d67a1cd27e.png)

i can't find a suitable font and can only use 16x16 pixels icon.

`Public Sub CreateTextIcon(str As String)
        Dim fontToUse As Font = New Font("Trebuchet MS", 10, FontStyle.Regular, GraphicsUnit.Pixel)

[2022-08-03 03:33] paul1956 commented on #5
@Krikke99 I have an experimental version with a complete rewrite of date handling code. I will post here if to you to try.  It is very early. The version has wrong, and ReadMe not updated. Some dates may display in wrong time zone, but nothing should crash.
[CareLinkv3.4.3.0x64.zip](https://github.com/paul1956/CareLink/files/9247722/CareLinkv3.4.3.0x64.zip)
.

[2022-08-03 06:51] Krikke99 commented on #5
@paul1956 i tested your preview version and no crash occurred.

[2022-08-03 08:48] PhilMEFL commented on #5
Hi Paul,
This release is working.  Thanks.
Philippe

From: Chris Deprez ***@***.***>
Sent: Wednesday, 3 August 2022 08:52
To: paul1956/CareLink ***@***.***>
Cc: Philippe Martin ***@***.***>; Mention ***@***.***>
Subject: Re: [paul1956/CareLink] Visual Basic error with europan date format (Issue #5)

@paul1956<https://github.com/paul1956> i tested your preview version and no crash occurred.

—
Repl

[2022-08-03 09:12] paul1956 commented on #5
@PhilMEFL Can you check that the dates are correct on your system? It's great that it doesn't crash but are the dates correct? I am still working on showing the date native to your pump and then translated dates relative to the PC. So, if someone in Germany is monitoring someone if US the information is correct and understandable. I will release this version next weekend after more testing.

[2022-08-03 09:19] PhilMEFL commented on #5
The date is formatted so: 2022-08-03T11:14:00.000Z but I don’t mind such notation.  However, the status of the battery and the sensor remain unknown as you can see in the screenshot.
***@***.***
Thanks

From: Paul M Cohen ***@***.***>
Sent: Wednesday, 3 August 2022 11:13
To: paul1956/CareLink ***@***.***>
Cc: Philippe Martin ***@***.***>; Mention ***@***.***>
Subject: Re: [paul1956/CareLink] Visua

[2022-08-03 11:36] #10 closed

[2022-08-03 11:55] paul1956 commented on #9
@Fishbaits  The graph mess up is related to date issue. It should automatically pick up units data from your pump. If you can upload the CareLink*.json file from your documents folder I can look into it further.

The json file is readable text and personal data is removed if you save as snapshot from the Start Up Menu of the app.

[2022-08-03 12:12] Krikke99 opened #12 "Datetime notation incorrect"
Datetime notation in the main screen is incorrect:

![image](https://user-images.githubusercontent.com/4416348/182604611-7547f5f4-32c7-4d86-96ae-580643cb2e34.png)

[2022-08-03 12:13] Krikke99 opened #13 "Battery status not shown"
Battery status not shown in the main screen:

![image](https://user-images.githubusercontent.com/4416348/182604970-c402f80b-1794-43ef-ae1e-ac257ff2ef52.png)

[2022-08-03 12:31] paul1956 commented on #9
@Fishbaits
Good catch on the unknown, this was a bug I introduced this week, while fixing a different issue. Nothing to do with units.

![image](https://user-images.githubusercontent.com/12789369/182607362-ce4f260c-d2e6-488e-82d9-4c4652a66670.png)

This version should have both issues fixed and also a new tray icon with critical data
[CareLinkv3.4.3.0x64.zip](https://github.com/paul1956/CareLink/f

[2022-08-03 12:42] paul1956 commented on #5
@PhilMEFL
Battery issue is fixed is this beta
[CareLinkv3.4.3.0x64.zip](https://github.com/paul1956/CareLink/files/9251357/CareLinkv3.4.3.0x64.zip)

If you are happy with the fixes please close issue.

[2022-08-03 12:45] paul1956 commented on #13
@Krikke99  this is fixed in this beta
[CareLinkv3.4.3.0x64.zip](https://github.com/paul1956/CareLink/files/9251381/CareLinkv3.4.3.0x64.zip)

Reopen if you are still having issues,

[2022-08-03 12:45] #13 closed

[2022-08-03 12:50] paul1956 commented on #12
@Krikke99 this is actually a string that shows exactly what the pump has internally. I am working on an update this week that will also show the time in your time zone. The JSON Lib I was using was converting date strings to local time before I ever saw them.  I don't have the raw pump data that I display and I am working to displaying it in your computers native time format and time zone. so you

[2022-08-03 12:52] paul1956 commented on #10
@Krikke99  Looks great, I merged.

[2022-08-03 13:12] Krikke99 commented on #12
@paul1956 i just looked at a json file i get from a python program, the timezone is correct. Only the notation is not.
"lastSensorTSAsString": "2022-08-03T14:51:00.000Z"
I don't know how the notation is in other regions, in Belgium it looks like this: 03-08-2022 14:51

These are my windows settings:

![image](https://user-images.githubusercontent.com/4416348/182616112-223c2b4f-e5dd-4531-b8ec-d2784

[2022-08-03 15:04] #5 closed

[2022-08-03 18:18] paul1956 commented on #12
That is a string directly from pump. It's not a Date but am thinking it's confusing and will eventually convert all the dates to local culture.

[2022-08-03 19:14] Fishbaits commented on #9
When I try to run this new version, it says so:
![image](https://user-images.githubusercontent.com/37698892/182690675-abeec65f-47a0-4232-9269-f3f42967fae3.png)
And then quits, no matter if I click OK or Cancel

[2022-08-03 23:33] paul1956 commented on #9
@Fishbaits thanks. I will upload a trial fix tomorrow.

This information will help.

[2022-08-04 15:27] Komle92 commented on #6
Thanks for adding support for that. In the new version i don't get stuck anymore so definitely an improvement already. Never considered there would be that many date formats though!

Here is what the text file says (sorry for the long copy-paste, apparently github doesn't support uploading json files):

{
  "lastSensorTS": "0",
  "medicalDeviceTimeAsString": "04/08/2022 17:21:01-00:00",
  "lastSen

[2022-08-07 03:42] paul1956 commented on #9
@Fishbaits It looks like the pump stores and reports everything in mg/dl and display software scales it. So all the data is there but off the top of the graph. It is going to take some time to scale everything. I was going to post something that works today but it would be in US units. I will work on fixing the units next week.

[2022-08-07 09:35] paul1956 commented on #12
@Krikke99
Fixed in [CareLinkv3.5.0.0x64](https://github.com/paul1956/CareLink/releases/tag/3.5.0.0)

Please open new issue if the issue persists

[2022-08-07 09:35] #12 closed

[2022-08-07 09:36] paul1956 commented on #9
@Fishbaits
Fixed in [CareLinkv3.5.0.0x64](https://github.com/paul1956/CareLink/releases/tag/3.5.0.0)

Please open new issue if the issue persists

[2022-08-07 09:36] #9 closed

[2022-08-07 09:37] paul1956 commented on #6
@Komle92
Fixed in [CareLinkv3.5.0.0x64](https://github.com/paul1956/CareLink/releases/tag/3.5.0.0)

Please open new issue if the issue persists

[2022-08-07 09:37] #6 closed

[2022-08-08 07:42] Fishbaits opened #14 "Still not working..."
Hi Paul

Thank you for all the effort you are and have been putting into this but there are still issues.
When I run the program, in about 1 minute I get error message of Unhandled exception.
![image](https://user-images.githubusercontent.com/37698892/183365509-72fc58b0-1580-4e70-a9e7-0fade5c9b0e6.png)
[CareLinkErrorReport(en-US).txt](https://github.com/paul1956/CareLink/files/9279811/CareLinkErro

[2022-08-08 11:04] paul1956 commented on #14
@Fishbaits it looks like bad data from CareLink that I am not dealing with. I will look at it late today. I assume if you reset it will fail immediately and probably clear itself in 24 hours. I will know more when I look at your error report which does reproduce the issue.

[2022-08-08 23:32] paul1956 commented on #14
Please try this version CareLink3.5.0.4x64 and see if it fixes your issue.
It looks like it happens when your pump is disconnected from phone and because of the way I need to deal with international units instead of just ignoring it the app crashes.

[2022-08-10 08:25] Fishbaits commented on #14
Hi

The CareLink3.5.0.5x64 was the latest by now and this one works!
![image](https://user-images.githubusercontent.com/37698892/183852909-149daf49-3608-49dc-a2b8-ed7c0108e0f7.png)
The graph is there, everything is visible, great work!!
Thank you so very much!

[2022-08-10 12:10] paul1956 commented on #14
@Fishbaits The graph looks odd to me I don't understand the green lines, can you send me the saved data file? There is a newer version that fixes the 154 on the display above. I will leave this open if you want to use it to send me the file or you can close it.

[2022-08-10 13:37] Fishbaits commented on #14
Hi
The latest works also ubt I do not see any difference really. Graph looks the same.
![image](https://user-images.githubusercontent.com/37698892/183912251-2dab9ca4-bb52-4058-ad5f-6431ffc6feb5.png)
I get a graph when I look at Running Active Insulin tab.
![image](https://user-images.githubusercontent.com/37698892/183913203-911e29ee-cb14-4de8-a3f1-82c855d6af88.png)

But what I personally miss the

[2022-08-10 13:38] Fishbaits commented on #14
Where is this saved data file?
Everything in the Carelink folder has the same date and time, so I guess it is somewhere else?
Tried to do the Snapshot Save too but no clue where that went...

[2022-08-10 23:41] paul1956 commented on #14
The working files are all saved in My Documents. I didn't write the mini display but will work on getting it fixe.

You can IM with me on Gitter as [paul1956](https://github.com/paul1956)

[2022-08-10 23:48] paul1956 commented on #14
@Fishbaits
These are what the graphs are supposed to look like
![image](https://user-images.githubusercontent.com/12789369/184041856-3e842892-1284-4366-9e48-ca30059bc593.png)
![image](https://user-images.githubusercontent.com/12789369/184041901-1331a927-ec60-487c-99a1-06d44b67854c.png)

[2022-08-11 07:21] Fishbaits commented on #14
Ok, these do look a bit different :)
One cause might also be, that I am running Win11.
[CareLinkLastDownload(et-EE).zip](https://github.com/paul1956/CareLink/files/9306898/CareLinkLastDownload.et-EE.zip)

[2022-08-11 08:04] paul1956 commented on #14
Also on Windows 11. I fixed the 22 already. I will look into the zip tomorrow. This is what it should look like with European Data
![image](https://user-images.githubusercontent.com/12789369/184089749-4c77097d-c569-4f5c-8424-4cedca3b511a.png)
![image](https://user-images.githubusercontent.com/12789369/184090070-4aedb9d4-2a41-432c-a6c3-290e7e1efda2.png)

[2022-08-12 07:31] paul1956 commented on #14
@Fishbaits The reason the graphs look like they do is there is very little data. If you look at the file (you can open in any text editor or Visual Studio will decode it), most of the values are NaN. I don't know why but the program is working correctly. Even the bgUnit data is missing. The red values in the image below are the green lines on your graph, I don't what what to do with this report. I

[2022-08-12 20:08] paul1956 commented on #14
@Fishbaits Try this it works on my system with your data.
[CareLink3.5.1.0x64.zip](https://github.com/paul1956/CareLink/files/9329571/CareLink3.5.1.0x64.zip)

[2022-08-12 20:54] paul1956 commented on #14
@Fishbaits Issue finally found I was rounding small numbers with decimal points in some cultures
Here is the fixed version
![image](https://user-images.githubusercontent.com/12789369/184443254-c166dbbf-5171-4ce6-b0d5-df56e72e6740.png)
Please download from Release Branch. I will Close.

[2022-08-12 20:54] #14 closed

[2022-08-15 09:22] Fishbaits opened #15 "crashes on every attempt"
Hi Paul

Again, thank you for all your effort.
Sorry, I am not a programmer and cannot help you much.
At moment the latest version crashes on every attempt.
It does the login but probably graph drawing causes the crash.
And yes, we have comma as decimal separator, not dot. So a number looks like 5,43
![image](https://user-images.githubusercontent.com/37698892/184610356-3dbf55ee-afc0-4747-a677-a38e

[2022-08-16 01:59] paul1956 commented on #15
@Fishbaits This is the text file you sent running on my system and everything looks perfect with commas where they belong and 24-hour time format
![image](https://user-images.githubusercontent.com/12789369/184781779-59c1211e-c873-484b-b785-c6ecb4f26024.png)
There is an update here to prevent the overflow, if it doesn't work, I have one more thing to try then without running a debugger on your syst

[2022-08-16 13:54] Fishbaits commented on #15
Still crashes.
Exception: Input string was not in a correct format.
![image](https://user-images.githubusercontent.com/37698892/184897144-c8146edf-78d9-4c81-a03c-9be2fcd93a46.png)
[CareLinkErrorReport(en-US)3.txt](https://github.com/paul1956/CareLink/files/9351637/CareLinkErrorReport.en-US.3.txt)

[2022-08-16 13:55] Fishbaits commented on #15
![image](https://user-images.githubusercontent.com/37698892/184897505-4f9d12d9-b301-459b-8081-c19909aca15f.png)

[2022-08-16 22:23] paul1956 commented on #15
It's interesting that the error report is en-US but all the data is et-EE your local format.

[2022-08-17 03:45] paul1956 commented on #15
@Fishbaits  This version has a speciic fix for the above error even though it should not happen

[2022-08-17 09:24] Fishbaits commented on #15
Still throws exception...
![image](https://user-images.githubusercontent.com/37698892/185083990-74b3ad8d-a0f8-4660-b9b4-c475a6ed0251.png)
[CareLinkErrorReport(en-US)5.txt](https://github.com/paul1956/CareLink/files/9358259/CareLinkErrorReport.en-US.5.txt)

[2022-08-19 09:21] paul1956 commented on #15
What language is you Windows running in and your pump? Would you like to try a remote debug session at a time that works for you. We would install a free copy of Visual Studio and connect with Chrome remote desktop.

[2022-08-20 08:50] paul1956 commented on #15
@Fishbaits your last report actually shows a different error, and I found a few more places I was parsing wrong. Please try this one.
[CareLink3.5.1.9x64.zip](https://github.com/paul1956/CareLink/files/9386546/CareLink3.5.1.9x64.zip)
.

[2022-08-20 09:54] Fishbaits commented on #15
paul1956, there is a clear change in error messages now but it still crashed.
![image](https://user-images.githubusercontent.com/37698892/185739129-b21bfccb-49a3-4f07-bfed-36bcfdbfb5e6.png)
[CL.zip](https://github.com/paul1956/CareLink/files/9386620/CL.zip)
I am running Windows in Estonian language but I also tried it on a pc with Win10 64bit Pro Eng and got the same result.

[2022-08-21 00:51] paul1956 commented on #15
@Fishbaits thanks for you supper getting this fixed. This version has some more error reporting and some fixes. Please try.
[CareLink3.5.1.10x64.zip](https://github.com/paul1956/CareLink/files/9388211/CareLink3.5.1.10x64.zip)

[2022-08-21 19:18] Fishbaits commented on #15
There is some visible progress - something appeared where the graph is supposed to be but still an exception is thrown.
![image](https://user-images.githubusercontent.com/37698892/185807305-fa4810ba-53ad-44b7-8927-56ad9316d120.png)
![image](https://user-images.githubusercontent.com/37698892/185807322-f45531b5-3a53-4cf5-bbf7-4ca6e13a05fb.png)
[CareLinkErrorReport(en-US)7.txt](https://github.com/pau

[2022-08-22 06:41] paul1956 commented on #15
@Fishbaits This will probably still crash but should produce a better report.
[CareLink3.5.1.12x64.zip](https://github.com/paul1956/CareLink/files/9391841/CareLink3.5.1.12x64.zip)
t

[2022-08-22 09:18] Fishbaits commented on #15
Yes, it crashed.
![image](https://user-images.githubusercontent.com/37698892/185886256-3835d3de-2cef-4eb7-828e-e34de3a05131.png)
[CL.zip](https://github.com/paul1956/CareLink/files/9392982/CL.zip)

[2022-08-22 10:32] paul1956 commented on #15
Thanks for all the help. That helped a lot, I never would have found the issue. It may not be the only one. Please try this.
[CareLink3.5.1.12x64a.zip](https://github.com/paul1956/CareLink/files/9393518/CareLink3.5.1.12x64a.zip)
.

[2022-08-22 11:06] Fishbaits commented on #15
And we have a winner!
It seems to work all properly now, no exceptions or anything.
Graph is displayed, all seems ok. Great work!!
![image](https://user-images.githubusercontent.com/37698892/185906759-75b6c52e-cf60-47fc-a305-60f83a91b2b2.png)

[2022-08-22 15:41] paul1956 commented on #15
Thanks for all your help.

[2022-08-22 23:55] paul1956 commented on #15
I am going to close

[2022-08-22 23:55] #15 closed

[2022-08-24 10:06] Krikke99 opened #16 "SG Trend not correct in systray"
SG Trend in systray give +0 after 1 min. update.

![image](https://user-images.githubusercontent.com/4416348/186391584-3fda02b0-7bf3-4fc0-b94c-8ec1ab98179c.png)

[2022-08-24 11:20] Krikke99 opened #17 "Login failed"
Login failed if the application is minimized for a while.

![image](https://user-images.githubusercontent.com/4416348/186405759-4f12a03c-fe30-4f8b-88bf-f017a8132c58.png)

[2022-08-25 06:42] paul1956 commented on #16
@Krikke99 It looks like it updates it when it changes then the next 4 times the change is 0 so it displays that.
It is fixed in version 3.5.2.5.  Close if you agree.

[2022-08-25 07:49] paul1956 commented on #16
[CareLink3.5.2.5x64.zip](https://github.com/paul1956/CareLink/files/9422622/CareLink3.5.2.5x64.zip)

[2022-08-25 07:56] paul1956 commented on #17
@Krikke99 CareLink has been very flakey especially in Europe due to DNS issues. If I fail twice, I just give up. I will look into retrying. CareLink has a 3 try and then you get kicked out for 15 minutes and I don't want to hit that. Open to any suggestions.

[2022-08-25 07:58] #16 closed

[2022-08-25 07:59] Krikke99 commented on #16
Issue is fixed.

[2022-08-26 02:59] paul1956 commented on #17
@Krikke99  I think this is fixed in 3.5.3.0 which I am posting now.

[2022-08-26 07:31] Krikke99 commented on #17
@paul1956 the problem remains in version 3.5.3.0

[2022-08-27 08:35] paul1956 commented on #17
@Krikke99 I found something in the retry logic that may cause it. I will post a fix Sunday.

[2022-09-05 03:20] paul1956 commented on #17
@Krikke99 Fixed in latest release. Please close if you agree.

[2022-09-07 11:49] Krikke99 commented on #17
@paul1956 now the application does not update anymore.
After 1 minute:
![image](https://user-images.githubusercontent.com/4416348/188870931-81cd2b60-5229-4a44-a385-8a0042eb68e3.png)
After 5 minutes:
![image](https://user-images.githubusercontent.com/4416348/188871379-96297909-151d-42d7-b970-989ca97a204c.png)

[2022-09-08 05:23] paul1956 commented on #17
I have rewritten the login logic in CareLink3.5.5.0x64 Let me know if it fixes the problem

[2022-09-08 08:31] Krikke99 commented on #17
@paul1956
In in CareLink3.5.5.0x64 no error message anymore , but also no updates.

![image](https://user-images.githubusercontent.com/4416348/189074549-cc7c0d46-17c7-449c-bef5-22338c5af7bd.png)
![image](https://user-images.githubusercontent.com/4416348/189074611-97de54c9-4eb8-4c28-85ef-714f70fb2239.png)

[2022-09-08 08:48] paul1956 commented on #17
@Krikke99 Think I finally found it, server is asked for reauthorization, and I was ignoring it.

[2022-09-08 22:27] paul1956 commented on #17
@Krikke99 I have put in 2 for fixed for this issue in CareLink3.5.5.1x64 hopefully they work for you.

[2022-09-08 22:41] Zxquad opened #18 "Object reference not set to an instance of an object. exception in AllTabPagesUpdate at 1847"
Hi,
Wanna try your app but ;)

   at CareLink.Form1.UpdateActiveInsulinChart(String memberName, Int32 sourceLineNumber) in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Forms\Form1.vb:line 1961
   at CareLink.Form1.AllTabPagesUpdate() in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Forms\Form1.vb:line 1847
   at CareLink.Form1.Form1_Shown(Object sender, EventArgs e) in C:\Users\PaulM\Sour

[2022-09-08 22:44] paul1956 commented on #17
@Krikke99 I look like Carelink is getting more aggressive with requiring reauthorizing. I was only doing it when the previous one expired every 24 hours. In the past retrying just worked not I need to relog in. Hopefully this works.

[2022-09-09 00:13] paul1956 commented on #18
@Zxquad Try 3.5.5.2 and if it does not fix your issue,  can you attach the Error File its under in your documents folder?

[2022-09-09 03:12] paul1956 commented on #18
@Zxquad delete or edit CareLink.Csv  in my documents to change saved options when the app crashes but I think your crash is solved in latest update.

[2022-09-09 16:04] Zxquad commented on #18
@paul1956 Working just fine now with 3.5.5.2 ;)
thx for fixing the issue ...

[2022-09-09 23:32] #18 closed

[2022-09-12 20:23] HJADR opened #19 "Timezone issue... Central European Summer Time"
![image](https://user-images.githubusercontent.com/4594450/189751634-4c32d49b-663e-4940-a78a-9bf130567cdd.png)

I am not sure what to select.  Selected cancel 2 times, but I see no created issue. And well... I am just not sure, might be a problem English not beeing my native language...

[2022-09-12 20:33] HJADR opened #20 "SG trend not showing correctly"
![image](https://user-images.githubusercontent.com/4594450/189752566-5f8f3745-8b46-4b00-88a1-16e1708db9a5.png)
![image](https://user-images.githubusercontent.com/4594450/189753005-dde85d9d-2a65-4eb1-82d6-35eff959c477.png)

It is showing +5 and not +0,05, the BG unit we use here is mmol/L, thats most likely why it is off. not a real big issue.. but hey.

[2022-09-13 03:53] paul1956 commented on #19
You need to say Yes and it will stop prompting you or No and it will keep asking. In your case you can send this file CareLinkLastDownload(en-US).json  in you Documents folder. (en-US) will be something else as "en" is English and "US" is my country.

[2022-09-13 04:02] paul1956 commented on #20
If you post your version of  CareLinkLastDownload(en-US).json here, I can fix this easily.

[2022-09-13 14:34] HJADR commented on #19
[CareLinkLastDownload(nl-NL).zip](https://github.com/paul1956/CareLink/files/9558092/CareLinkLastDownload.nl-NL.zip)

Here you go

[2022-09-13 14:34] HJADR commented on #20
[CareLinkLastDownload(nl-NL).zip](https://github.com/paul1956/CareLink/files/9558096/CareLinkLastDownload.nl-NL.zip)

Here you go. :)

[2022-09-14 01:16] paul1956 commented on #20
@HJADR actually +5 is the default when the value is unchanged as a sample. This issue fixed in 3.5.5.3
![image](https://user-images.githubusercontent.com/12789369/190036852-a683e0f1-b8f6-4901-9ec0-a7040402b076.png)
Please close if you agree.

[2022-09-14 01:21] paul1956 commented on #19
Timezone issue should also be fixed in 3.5.5.3

[2022-09-15 13:14] HJADR commented on #20
I am not sure yet. I get this error details>

`   at CareLink.CareLinkUserDataList.ContainsKey(String key) in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Records\UserDataRecords\CareLinkUserDataList.vb:line 191
   at CareLink.LoginForm1.LoginForm1_Load(Object sender, EventArgs e) in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Forms\LoginForm1.vb:line 54
   at System.Windows.Forms.Form.

[2022-09-15 20:56] paul1956 commented on #20
Sorry, that is a separate issue that was cause by supporting Multiuser. It should be fixed in version I will post today for everyone.
[CareLink5.5.6.0x64.zip](https://github.com/paul1956/CareLink/files/9579010/CareLink5.5.6.0x64.zip)

[2022-09-19 07:03] #17 closed

[2022-09-26 09:20] Krikke99 opened #21 "Build errors"
i get a lot of build errors in the latest version.

![image](https://user-images.githubusercontent.com/4416348/192240486-a7304bc8-08a9-4bf0-93e0-23084c78d750.png)

[2022-09-26 09:25] Krikke99 commented on #21
Also the latest release doesn't work anymore.

![image](https://user-images.githubusercontent.com/4416348/192241631-442c86f4-fce4-480e-850d-1fbafecd0f21.png)

[2022-09-27 05:16] paul1956 commented on #21
@Krikke99 You need to Clone https://github.com/kirsan31/winforms-datavisualization its the new improved DataVisualization package but it is not available as a NewGet yet. Issue is fixed it was an initialization error caused by partial implementation of editor for the config file. It should be fixed in 3.5.6.6.

[2022-09-28 11:55] Krikke99 commented on #21
@paul1956 build errors are gone, but both build and release now give this error

![image](https://user-images.githubusercontent.com/4416348/192772605-5b4f3c02-4cae-4ce6-931c-3d65ae7f8feb.png)

[2022-09-29 01:12] paul1956 commented on #21
@Krikke99 Try deleting Carelink.csv in myDocuments I think it is corrupt. I put in some fixes for that in a version I am working on but not ready to release. Otherwise, can you set a break on Link 164 and tell me what past of the line is Nothing.

[2022-09-30 07:30] Krikke99 commented on #21
After deleting the file everything works again.

[2022-09-30 07:46] mattimart opened #22 "Unhandled exception 3.5.6.6"
The only working release for me is 3.5.4.12

![image](https://user-images.githubusercontent.com/44461571/193218363-53565eb2-1f37-4aeb-9bb8-26060e87252e.png)

[2022-09-30 08:11] mattimart commented on #22
I have solved deleting Carelink.csv in MyDocuments folder.

[2022-09-30 08:11] #22 closed

[2022-09-30 21:49] paul1956 commented on #22
@mattimart how did you solve? Do I need to make any code changes?

[2022-10-01 01:08] #19 closed

[2022-10-01 01:08] #20 closed

[2022-10-04 14:55] seletok opened #23 "App Open Error version 3.5.6.6x64"
Dear Paul,

I have the error below when open the app:
 at CareLink.CareLinkUserDataList.ContainsKey(String key) in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Records\UserDataRecords\CareLinkUserDataList.vb:line 164
   at CareLink.LoginForm1.LoginForm1_Load(Object sender, EventArgs e) in C:\Users\PaulM\Source\Repos\CareLink\src\CareLink\Forms\LoginForm1.vb:line 54
   at System.Windows.Forms.

[2022-10-04 14:59] seletok commented on #23
Now see the method to solve. Clear the carelink.csv file from Documents folder.
Sorry for issue report.

[2022-10-04 16:55] paul1956 commented on #23
@seletok I will post a fix this weekend but until then you found the solution.

[2022-10-04 17:04] paul1956 commented on #23
Fixed in CareLink3.5.6.7x64

[2022-10-04 17:04] #23 closed

[2022-10-11 07:06] PhilMEFL commented on #5
Hi Paul,
I think the dropdown solution will be the easiest one.  I checked my pump but I don’t find a way to change its culture, only the language can be changed.  I suppose they provide different variant depending on the area where it will be used.

***@***.***

Philippe Martin - 0495 408 883
rue de la Bruyère d’Huleu, 2 - 1460 Ittre
***@***.******@***.***>
IBAN: BE08 7512 0974 0413 - BIC: AXABBE

[2022-10-11 07:22] Krikke99 opened #24 "Error Login"
After the latest commit 6e8074786d1ed7cf8b5ea2470cdb70c85113adea i get this error:

![image](https://user-images.githubusercontent.com/4416348/195021940-9abadce6-d248-4868-9347-490a321e5fa4.png)
[CareLinkErrorReport(en-BE).txt](https://github.com/paul1956/CareLink/files/9752130/CareLinkErrorReport.en-BE.txt)

[2022-10-11 19:35] paul1956 commented on #5
@PhilMEFL I think this issue is fixed, this is not a pump issue it's my application. I now can find the pumps Culture and if there is still an issue, I can use it.

[2022-10-12 07:10] paul1956 commented on #24
Fixed in CareLink3.5.6.10x64 thanks it on shows up on 780G. Close if you argee.

[2022-10-13 09:16] Krikke99 commented on #24
Fixed!

[2022-10-13 09:16] #24 closed

[2022-10-17 19:45] nfontan opened #25 "Unable to login"
Unable to login on Latin America Server (Argentina).
I tried with 2 differents account and computers.

Account:
nfontan (patient)
nfontanc (care partner)
![image](https://user-images.githubusercontent.com/51861356/196268025-cd19d5b7-734e-45b3-9661-01d2d91b51d7.png)
![image](https://user-images.githubusercontent.com/51861356/196268229-5d66a66b-4905-4601-9672-e825af24860e.png)

No logs on document f

[2022-10-17 21:51] nfontan commented on #25
After selecting the europe server the following errors are received

[https://pastebin.com/YbCu2Mn3](https://pastebin.com/YbCu2Mn3?fbclid=IwAR1X6WjDPMu3qqmmT1dV_ppvukuWN_wAARRIPOHFIxpgm2-lEGRESZmZD6o)
[https://pastebin.com/Xm5cuj4r](https://pastebin.com/Xm5cuj4r?fbclid=IwAR0kgn5TNYwkZ5X5e4dxsYjYlPxlGJaLsc-lJ59Tzs3uyQjZHO28Sg43M9M)
[https://pastebin.com/r40dMA1A](https://pastebin.com/r40dMA1A?fbcli

[2022-10-18 05:48] paul1956 commented on #25
@nfontan the time zone issue is I can't automatically map "Argentina Standard Time" to anything known. All the know zones at GMT-3 are listed below is one of the correct for you?
![image](https://user-images.githubusercontent.com/12789369/196345763-854dae1e-e112-4bd6-b835-017a648d3442.png)

[2022-10-18 07:05] paul1956 commented on #25
@nfontan I have solved many of the issue, it appears you are in MM and I have done no testing in that mode. It will take a week or so to address all the issues. Thanks for all the reports, below is your last error file now working.
![image](https://user-images.githubusercontent.com/12789369/196359521-c841e0f2-aa0f-4cc0-a67c-2885ae256b09.png)

[2022-10-18 12:00] nfontan commented on #25
Thank you for this great work!
I am currently in MM because I migrated from a 640 to a 780 a week ago and my educator told me that before going to manual I should be like this for a few days, but I think that next week I will go into auto mode. Anyway if you need me to try something I will be available for you

[2022-10-19 04:09] paul1956 commented on #25
[CareLink3.5.6.11x64.zip](https://github.com/paul1956/CareLink/files/9816734/CareLink3.5.6.11x64.zip)
@nfontan please try this, I am not ready to release it yet, but I believe all your issues are fixed.
Please let me know.

[2022-10-19 04:37] paul1956 commented on #25
@nfontan I don't have any user in MM so I am glad I captured your error file it pointed out server issues. In the future you can just drop the file here or use pasteBin but the files are just text

[2022-10-19 13:28] nfontan commented on #25
Hi Paul,
This version works great!

Just a small detail, in the drop-down menu of the login where the area and the country appear, Argentina continues to give an error and I have to choose Spain. Could you refer South America to the same European server?

Thanks again!

[2022-10-19 22:20] paul1956 commented on #25
@paul1956 I do use the same server for South America and Spain with the version I posted above. I am looking at the issue as I see it too.

[2022-10-19 23:31] nfontan commented on #25
Paul, At the moment I am testing it on my home pc and the login works correctly with both countries. Previously I had tested it on the office pc. Capturing the dns traffic with my pihole server I saw that it generated two queries, the first went to mdtlogin.medtronic.com and the second to carelink.minimed.eu

[2022-10-20 00:21] paul1956 commented on #25
@nfontan Yes I am seeing it switch servers but have not figured out why
Logon always goes to "https://mdtlogin.medtronic.com/mmcl/auth/oauth/v2/authorize/login"
Then it uses carelink.minimed.*

[2022-10-20 15:56] paul1956 commented on #25
@nfontan since you seem similar with code would you like to try a joint debug session this weekend or next week? Everything you need is available free.

[2022-10-20 16:16] nfontan commented on #25
Yes, no problem!

Only that my level of dialogue in English is limited, but we can chat

[2022-10-21 01:42] paul1956 commented on #25
@nfontan  you can find me on Gitter as @paul1956 and we can chat privately.

I am available next 3 days after 3:00 PM Pacific Time, just pick a time that works for you

[2022-10-23 08:29] Bernsti76 opened #26 "Problems after first start"
![Screenshot 2022-10-21 165614](https://user-images.githubusercontent.com/116485280/197382262-1e1a192b-6783-408c-80c8-bb3deab1f150.jpg)

I get this after the first start at every next start of the programme.

[2022-10-24 07:59] paul1956 commented on #26
@Bernsti76 You can also try deleting CareLink.csv. Sometimes it gets corrupt. I found the reason and need to update my code.

[2022-10-24 09:06] #25 closed

[2022-10-24 09:08] paul1956 commented on #26
@Bernsti76 This should fix your issue, but it is not ready for release you may get some popup boxes. You will need to delete careLink.csv it is definitely corrupted, updated with other fixes.
[CareLink3.5.7.0x64.zip](https://github.com/paul1956/CareLink/files/9855486/CareLink3.5.7.0x64.zip)

[2022-10-25 09:15] Bernsti76 commented on #26
Thank you so much! After deleting CareLink.csv everything is working again!

[2022-10-26 02:09] paul1956 commented on #26
@Bernsti76 I need to figure out why is gets corrupt, I will close this.

[2022-10-26 02:09] #26 closed

[2022-11-09 09:52] mattimart opened #27 "Login error - Sequence contains no elements"
![image](https://user-images.githubusercontent.com/44461571/200776856-dec3e398-ff47-459f-995b-6d2c5482d0bf.png)

[2022-11-09 14:23] nfontan commented on #27
Please, attach the CareLinkErrorReport(en-US)xx.txt locate on c:\users\youruser\documents

[2022-11-10 01:33] paul1956 commented on #27
@mattimart @nfontan I need the error report to look at this.

[2022-11-10 01:40] paul1956 commented on #27
Just from looking at the error, it looks like server is returning no data for some of the fields and I don't guard against it. If I had error report, I could verify it.

[2022-11-10 05:09] paul1956 commented on #27
[CareLink3.5.7.6x64.zip](https://github.com/paul1956/CareLink/files/9977489/CareLink3.5.7.6x64.zip)
Try this. these errors are caused by CareLink server or frontend down.

[2022-11-10 09:13] paul1956 commented on #27
[CareLink3.5.7.6x64.zip](https://github.com/paul1956/CareLink/files/9979173/CareLink3.5.7.6x64.zip)

This fixes the issue, but it only happens when the CareLink server is flakey.

[2022-11-10 21:10] HJADR opened #28 "dotNET 7.0.0"
Dear Paul,
I just updated your programm. Now I got a prompt telling me to install dotNET 7.
The issue is I already have that installed. So.... any clue?

![image](https://user-images.githubusercontent.com/4594450/201206682-0b30a941-2ba7-44a2-9dc7-4710c072c2d1.png)

CareLink3.5.6.7 works fine by the way. :)

[2022-11-11 00:47] paul1956 commented on #28
What if you try to download it. You can have many versions and they don't interfere with each other.

[2022-11-11 03:18] JJP780G opened #29 "The program location CollectMarkers line 52 is thought to be unreachable."
[CareLinkErrorReport(en-CY)6.txt](https://github.com/paul1956/CareLink/files/9986238/CareLinkErrorReport.en-CY.6.txt)

[2022-11-11 03:20] JJP780G commented on #29
Thank you for all the work you put into this, I find it extremely helpful seeing the basal auto mode (with stable levels) uses and then applying that to manual mode.
Many Thanks

[2022-11-11 05:38] paul1956 commented on #29
@JJP780G Thanks, its fixed in latest release. CareLink3.5.7.7x64

Close if you agree.

[2022-11-11 05:39] paul1956 commented on #28
Comment with instructions on adding .Net 7.0. added to ReadMe on Release page.

[2022-11-11 05:39] #28 closed

[2022-11-11 05:40] paul1956 commented on #27
@mattimart @nfontan Fixed in CareLink3.5.7.7x64. Close if you agree.

[2022-11-11 08:00] #27 closed

[2022-11-14 01:33] JJP780G commented on #29
This has indeed been fixed.
Many Thanks once again for all your help.

[2022-11-14 01:33] #29 closed

[2022-11-16 08:34] alexklit opened #30 "The application cannot login"
Hi, after the version 3.4.0.7 which worked properly, in all the others, even the last one 3.5.7.7 when I try to type the user name, the application closes by itself.

[2022-11-17 01:29] paul1956 commented on #30
@alexklit Try deleting CareLink.csv in your document's directory.

[2022-11-17 06:33] alexklit commented on #30
Thank you for your help, now it works properly

[2022-11-17 06:33] #30 closed

[2022-11-25 03:27] JJP780G opened #31 "Doesnt add up"
![image](https://user-images.githubusercontent.com/91048750/203894314-2878c7b5-7e6e-4e69-8226-d59f90d7e4d4.png)

Doing the maths the total insulin should be 16.1 units not 13.9

I am using the previous version as the new version shuts down while trying to enter the username.

Many Thanks

[2022-11-26 17:58] paul1956 commented on #31
Delete CareLink.csv that should address the shutdown issue.

I need the data file in My Documents to look at the Math. What pump?

From: JJP780G ***@***.***>
Sent: Friday, November 25, 2022 12:27 AM
To: paul1956/CareLink ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [paul1956/CareLink] Doesnt add up (Issue #31)

 <https://user-images.githubusercontent.com/91048750/203894314-2878c7b5-7e6e-4e69-

[2022-11-28 14:40] paul1956 commented on #31
@JJP780G
Math error fixed in CareLink3.5.7.9x64

Please close of you agree or attach CareLinkLastDownload(en-US).json file. name will vary based on country. It is a text file you can review all private information should be deleted.